##############################
## Python
##############################
__pycache__/
##############################
## ANTLR
##############################
.antlr
##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
##############################
## Cpp
##############################
build
*/CMakeUserPresets.json
##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace
##############################
## OS X
##############################
.DS_Store